# Copie este arquivo para .env e preencha com seus valores
APP_NAME="Linktree da Temu"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost/Linktree%20da%20Temu/public

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=linktree
DB_USERNAME=root
DB_PASSWORD=
